<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="faadba">  <td>23/04/28 02:53:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseConfig.afterMethodSetup(org.testng.ITestResult)[pri:0, instance:com.automation.test.TC3@177bea38]">&lt;&lt;afterMethodSetup</td> 
<td>&nbsp;</td>  <td>main@584561912</td>   <td></td> </tr>
<tr bgcolor="faadba">  <td>23/04/28 02:52:51</td>   <td>-14999</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseConfig.beforeMethodSetup(java.lang.reflect.Method)[pri:0, instance:com.automation.test.TC3@177bea38]">&gt;&gt;beforeMethodSetup</td> 
<td>&nbsp;</td>  <td>main@584561912</td>   <td></td> </tr>
<tr bgcolor="b5af6b">  <td>23/04/28 02:52:54</td>   <td>-11616</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC3.textboxPhone()[pri:0, instance:com.automation.test.TC3@177bea38]">textboxPhone</td> 
  <td>main@584561912</td>   <td></td> </tr>
</table>
